# Backend (Maven + Spring Boot)
Backend/target/
Backend/.idea/
Backend/*.iml
Backend/application-test.properties
Backend/logs/
Backend/.mvn/wrapper/maven-wrapper.jar

Worker/venv
Worker/__pycache__


# Global
.DS_Store
.env
README.md~
.idea/

target/

/Backend/HELP.md
/.ai/mcp/mcp.json
__pycache__/index.cpython-314.pyc
/package-lock.json
