# Maven
target/

# IntelliJ
.idea/
*.iml
out/

# Spring Boot local
application-test.properties
application-local.properties
src/main/resources/application-local.properties

# Pasta teste (que você quer sumir)
src/main/java/com/august/ScraperCar/controller/debug/


# Logs
*.log
logs/

# Temp
.DS_Store